<!--service-->
	<div id="service">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<div class="service-heading">
						<h2>services</h2>
					</div>
				</div>
			</div>
		</div>

		<!--services wrapper-->
		<section class="services-style-one">
			<div class="outer-box clearfix">

				<div class="services-column">
					<div class="content-outer">
						<div class="row clearfix">

							<div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-box">
									<div class="icon-box"><span class="fa fa-lc" aria-hidden="true"></span></div>
									<h4>LAND CONSULTING</h4>
									<div class="text">
										Land & Market Evaluation
									</div>
									<div class="text">
										Land Enhancement
									</div>
									<div class="text">
										Land Advancement
									</div>
								</div>
							</div>

							<div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-box">
									<div class="icon-box"><span class="fa fa-dc" aria-hidden="true"></span></div>
									<h4>DEVELOPMENT CONSULTING</h4>
									<div class="text">
											Market Research and Analysis
									</div>
									<div class="text">
											Government Approvals
									</div>
									<div class="text">
											Engineering Coordination
									</div>
									<div class="text">
											Design Guidlines
									</div>
									<div class="text">
											A.R.C. Review
									</div>
								</div>
							</div>

							<div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-box">
									<div class="icon-box"><span class="fa fa-p" aria-hidden="true"></span></div>
									<h4>PLANNING</h4>
									<div class="text">
										Master Planning
									</div>
									<div class="text">
										Mixed Use Communities
									</div>
									<div class="text">
										Urban / Redevelopment
									</div>
								</div>
							</div>

							<div class="service-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="inner-box">
									<div class="icon-box"><span class="fa fa-a" aria-hidden="true"></span></div>
									<h4>ARCHITECTURE</h4>
									<div class="text">
										Multifamily
									</div>
									<div class="text">
										Town Homes
									</div>
									<div class="text">
										Senior
									</div>
									<div class="text">
										Single Family
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--Content Column-->
				<div class="content-column clearfix">
					<div class="content-box">
						<div class="inner-box">
							<!--Section Title-->
							<div class="sec-title aligned-right">
								<h2>Our Servi<span>ces</span></h2>
							</div>
							<div class="text">Our background includes extensive developer experience that provides our clients with a practical and realistic balance to all of their projects. This combination of strengths and experience gives us the ability to evaluate land for development as well 		as continue consulting services through the development process and successful conclusion.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
