<!--about-->
	<div id="about">

		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="about-heading">
						<h2>philosophy</h2>
						<!--<p>
						  Whitten Associates, Inc. is an Architecture and Planning Consulting Firm.
						</p>-->
						<p>
						  Our goal is to create exciting, innovative and successful communities and developments for our clients. Combining market research and analysis gives us the unique perspective to provide market responsive solutions.
						</p>
						<p>
						  Our background includes extensive developer experience that provides our clients with a practical and realistic balance to all of their projects. This combination of strengths and experience gives us the ability to evaluate land for development as well as continue consulting services through the development process and successful conclusion.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!--about wrapper left-->
		<div class="container">

			<div class="row">
				<div class="col-xs-12 hidden-sm col-md-3">					
					<div class="about-left-tim">
						<img src="images/about/timProfile.jpg" alt="">
					</div>

					<div class="about-left-heather">
						<img src="images/about/heatherProfile.jpg" alt="">
					</div>
				</div>

				<!--about wrapper right-->
				<div class="col-xs-12 col-md-7">
					<div class="about-right">
						<div class="about-right-heading">
							<h1>about us</h1>
						</div>
						<div >
							<div class="about-right-wrapper">
								<h3>Tim Whitten<span>, A.I.A.</span></h3>
								<p>Tim has over 30 years experience as an Architect, Land Planner and Developer. For the last twelve years he has been an Executive Vice President for a National Residential developer and home builder. He has recently returned to his roots as the Principal of an independent consulting firm. Tim has returned to Whitten Associates, Inc. with the intention of bringing his experience and ‘out of the box’ thinking to the current real estate market. He knows the players in the development world as well as the city planning function and has been involved in planning and developing well over 100 projects through out the country. His background includes single family, multifamily, mixed use, redevelopment and senior projects; and has a unique sense of how a projects should be priced and how they will be received in the marketplace.</p>
							</div>
							<div class="about-right-wrapper">
								<h3>Heather Maanum<span>, A.I.A. LEED AP</span></h3>
								<p>Heather has over 8 years of experience in architecture and planning. Her experience includes commercial and medical planning in addition to residential and she strong technological experience to Whitten Associates through her extensive 3D modeling, graphics and construction documents experience.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-2">
				</div>
			</div>
		</div>
	</div>

	<!--about bg-->
	<!--<div id="about-bg">

		<div class="container">
			<div class="row">

				<div class="about-bg-heading">
					<h1>sucessfull stats about us</h1>
					<p>what we have achieved so far</p>
				</div>

				<div class=" col-xs-12 col-md-3">
					<div class="about-bg-wrapper">
						<span class="count"><h1><span class="border">4</span>3</h1>
						</span>
						<p>happy clients</p>
					</div>
				</div>

				<div class="col-xs-12 col-md-3">
					<div class="about-bg-wrapper">
						<span class="count"><h1>38</h1></span>
						<p>projects</p>
					</div>
				</div>

				<div class="col-xs-12 col-md-3">
					<div class="about-bg-wrapper">
						<span class="count"><h1>1</h1></span>
						<p>branches</p>
					</div>
				</div>

				<div class="col-xs-12 col-md-3">
					<div class="about-bg-wrapper">
						<span class="count"><h1>2</h1></span>
						<p>expert team</p>
					</div>
				</div>

			</div>
		</div>
		<div class="cover"></div>
	</div>-->