<div class="container text-center">
  <h2>
    About Whitten Associates
  </h2>

<p>
  Whitten Associates, Inc. is an Architecture and Planning Consulting Firm.
</p>
<p>
  Our goal is to create exciting, innovative and successful communities and developments for our clients. Combining market research and analysis gives us the unique perspective to provide market responsive solutions.
</p>
<p>
  Our background includes extensive developer experience that provides our clients with a practical and realistic balance to all of their projects. This combination of strengths and experience gives us the ability to evaluate land for development as well as continue consulting services through the development process and successful conclusion.
</p>

<div class="row stats-row">
  <div class="stats-col text-center col-md-3 col-sm-6">
    <div class="circle">
      <span class="stats-no" data-toggle="counter-up">232</span> Satisfied Customers
    </div>
  </div>

  <div class="stats-col text-center col-md-3 col-sm-6">
    <div class="circle">
      <span class="stats-no" data-toggle="counter-up">79</span> Released Projects
    </div>
  </div>

  <div class="stats-col text-center col-md-3 col-sm-6">
    <div class="circle">
      <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
    </div>
  </div>

  <div class="stats-col text-center col-md-3 col-sm-6">
    <div class="circle">
      <span class="stats-no" data-toggle="counter-up">15</span> Hard Workers
    </div>
  </div>
</div>
</div>