	<!--top header-->
	<header id="home">
		<!--main-nav-->
		<div id="main-nav">
			<nav class="navbar">
				<div class="container">
					<div class="navbar-header">
						<a href="index.html" class="navbar-brand">WHITTEN ASSOCIATES INC</a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ftheme">
							<span class="sr-only">Toggle</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse" id="ftheme">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home">home</a></li>
							<li><a href="#about">about</a></li>
							<li><a href="#service">services</a></li>
							<li><a href="#portfolio">portfolio</a></li>
							<li><a href="#contact">contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<!--slider-->
	<div id="slider" class="flexslider">
		<ul class="slides">
			<li>
				<img src="images/slider/meyer_place.jpg">
				<div class="caption">
					<h2><span>Meyer Place</span></h2>
					<p>Wayzata, MN</p>
				</div>
			</li>
			<li>
				<img src="images/slider/waypoint.jpg">
				<div class="caption">
					<h2><span>Waypoint</span></h2>
					<p>Minnetonka, MN</p>
				</div>
			</li>
			<li>
				<img src="images/slider/legacy_oaks.jpg">
				<div class="caption">
					<h2><span>Legacy Oaks</span></h2>
					<p>Wayzata, MN</p>
				</div>
			</li>
		</ul>
	</div>
